@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&family=Fira+Sans:wght@400;500;600;700&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.azeret-mono-global {
    font-family: "Azeret Mono", serif, monospace;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }

/* Reset default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Base body styles */
body {
    margin: 0;
    padding: 0;
}

.navbar {
    display: flex;
    justify-content: space-around;
    padding: 10px;
    align-items: center;
}

.logo {
    font-size: 28px;
    font-weight:bolder;
    color: #0D1321;
}

.resume {
    padding: 10px 15px;
    color: #354E87;
    font-size: 20px;
    font-weight: bold;
    background-color: white;
    border: 1px solid gray;
}

.banner-container {
    width: 100%;
    height: 70vh;
    background-image: url("../assets/Hero-bg.png");
    /* display: flex;
    justify-content: center;
    align-items: center; */
    text-align: center;
}

.banner-content {
    margin-top: 26px;
}

.banner-title {
    margin-top: 32px;
}

.banner-paragraph {
    margin-top: 24px;
}

.connet {
    padding: 10px 15px;
    border-radius: 8px;
    color: white;
    background-color: #0D1321;
    border: none;
    margin-top: 32px;
}

main {
    width: 80%;
    background-color: wheat;
    margin: 0 auto;
    text-align: center;
    padding: 80px;
}


.box1 {
    display: flex;
    width: 90%;
    margin: 0 auto;
    margin-top: 48px;
    justify-content: space-around;
    align-items: center;
    box-shadow: 4px 4px 8px gray;
    text-align: justify;
}

/* .box1-left {
    text-align: left;
} */
  
